<!-- <p>{{albumId}}</p> -->

<!-- <nb-icon icon="arrow-back-outline" (click) = onBackSelected(albumId)></nb-icon> -->

<nb-card style="height: 75vh">
  <nb-card-header>
    <input type="text" nbInput placeholder="Search For Song" fullWidth (input) = "searchText($event.target.value)">
  </nb-card-header>
  <nb-card-body style="overflow-y: scroll;">
    <nb-list *ngFor="let song of showingSongs; let i = index">
      <nb-list-item (click)="onSongClicked(song)">
        <nb-user [name]="song.data.title" [title]="song.data.albumartist">
        </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
