<nb-list>
  <!-- <nb-list-item>
    <div fxLayout="row" fxLaypoutAlign="start center">
      <nb-icon icon="close-outline" (click)="collapseSidebar()"></nb-icon>
    </div>
  </nb-list-item> -->
  <nb-list-item>
    <div fxLayoutAlign="start center" style="height: 24px">
      <nb-icon style="font-size: 24px; margin-right: 8px;" icon="sun-outline"></nb-icon>
      <nb-toggle [checked]="true" (checkedChange)="toggleTheme($event)"></nb-toggle>
      <nb-icon style="font-size: 24px" icon="moon-outline"></nb-icon>
    </div>
  </nb-list-item>
</nb-list>
